<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>フォロワー一覧画面</title>
  <%- include('header'%>
</head>
<body>
  
</body>
</html>
