・フォローされているユーザー名のリスト(各ユーザー名はプロフィールページのリンクになる

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>フォロワーリスト</title>
</head>
<body>
  
</body>
</html>