<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(user_name) { %>
    <input type="button" onclick="location.href='/'" value="Top Page">
    <input type="button" onclick="location.href='users'" value="All Users">
    <select onChange="location.href=value;">
      <option value="">Option</option>
      <option value="profile">My Profile</option>
      <option value="setting">Setting</option>
      <option value="logout">Logout</option>
    </select>
    <% }else{ %>
      <form action="/login" method="post" class="task-form">
        <button type="submit" class="submit" value="">Login</button>
      </form>
    <% } %>
  </head>

  </body>

</html>