<!DOCTYPE html>
<html>

  <head>
    <title>ProfileApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('header',{user_name: user_name, password: password}) %>
  </head>

  <body>
    <h1><%= title %></h1>

  </body>
  <% if(user_name) { %>
  <div class="wrapper">
    <form action="/" method="post" class="task-form">
      <p><%= user_name %></p>
      <a href="/users/user_id">View My Profile</a>
      <p>自己紹介文<br>
      <textarea name="content" cols="30" rows="5"></textarea></p>
      <button type="submit" class="submit">投稿</button>
      <div class="wrapper">
        <ul class="main-task">
          <% contentList.forEach(function(contentItem) { %>
              <li class="main-list__task">
                  <div class="task">
                      <p class="task__content"><%= contentItem.content %></p>
                  </div>
              </li>
          <% }); %>
      </ul>
    </div>
  </form>
  <% }else{ %>
    <form action="/signup" method="post" class="task-form">
      <button type="submit" class="submit">Sign up</button>
    </form>
  <% } %>
</div>
</html>