<!DOCTYPE html>
<html>

  <head>
    <title>ProfileApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('header',{user_name: user_name, password: password}) %>
  </head>

  <body>
    <h1><%= title %></h1>

  </body>
  <% if(user_name) { %>
  <div class="wrapper">
    <form action="/" method="post" 
    onSubmit="return check()">
      <p><%= user_name %></p>
      <a href="/profile">View My Profile</a>
      <p>自己紹介文<br>
        <textarea id="text" name="content" cols="30" rows="5"></textarea>
        <script language="JavaScript">
          function check(){
            var text = document.getElementById('text');
            if (!text.value || !text.value.match(/\S/g)) {
              return alert("自己紹介文を入力してください");
            }
          }
        </script>
        <br>
        <input type="submit" value="投稿">
    </form>
    <br>
    <textarea readonly name="content" cols="50" rows="10"><%= contentList[0].content %></textarea>
    <% }else{ %>
    <form action="/signup" method="get" class="task-form">
      <button type="submit" class="submit">Sign up</button>
    </form>
    <% } %>
  </div>
</html>